body {
  padding-top: 70px;
}

.navbar {
  background-color: white;
}

.navbar-brand {
  color: black !important;
  font-size: 20px;
  font-weight: bold;
}

.navbar-brand:hover {
  color: red !important;
}

.navbar-inverse .navbar-nav>li>a {
    color: #000000;
    font-size: 20px;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: red;
    font-size: 20px;
}

.collapse li:hover {
  color: black;
}

.navbar-toggle {
  background-color: black;
}

.flexNav {
  display: flex;
  justify-content: space-between;
}

/*header section*/
header {
  height: 100vh;
  border: 1px solid red;
  /*position: relative;*/
}

#headerImg {
  height: 600px;
  width: 550px;
}

.subText {
  text-align: center;
}

.toggleNav {
  display: none;
}

.headerText {
  text-align: center;
}

.headerNavButtons ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

/*schedule section*/
.scheduleSection {
  height: 100vh;
  background-color: yellow;
}

.sectionHeader {
  font-size: 48px;
  text-align: center;
}

.flexSchedule {
  display: flex;
  align-items: center;
  max-width:750px;
  margin: 0 auto;
}

.workout {
  flex: 1;
  background: rgba(155, 255, 255, 0.2);
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.workout ul {
  list-style-type: none;
  margin-left: -38px;
}

.workout ul li {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding:10px;
}

.workout ul li:last-child {
  border-bottom: 0;
}

/*about section*/
.aboutSection {
  height: 100vh;
  background-color: green;
}

.trainerPic {
  width: 350px;
  height: 350px;
}

.trainer p {
  text-align: center;
}

.trainer ul {
  text-align: center;
  list-style-type: none;

}






/*results section*/
.resultsSection {
  height: 100vh;
  background-color: orange;
}

.item {
  position: absolute;
  bottom: 0px;
}

.item .carousel-caption {
  position: relative;
  left: auto;
  right: auto;
}

.carousel-caption {
  color: black;
}

.item img {
  max-height: 600px;
  margin: 0 auto;
}




/*contact section*/
footer {
  height: 40vh;
  background-color: tomato;
}

footer ul {
  list-style-type: none;
}
