body {
  /*padding-top: 50px;*/
}

/*header section*/
header {
  height: 100vh;
  border: 1px solid red;
  /*background-image:*/
  position: relative;
  /*background-image: url(../images/group.jpg);*/
}

#headerImg {
  height: 600px;
  width: 550px;
  position: absolute;
}

.toggleNav {
  display: none;
}

.headerText {
  text-align: center;
}

.headerNavButtons ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

/*schedule section*/
.scheduleSection {
  height: 100vh;
  background-color: yellow;
}



/*about section*/
.aboutSection {
  height: 100vh;
  background-color: green;
}





/*results section*/
.resultsSection {
  height: 100vh;
  background-color: orange;
}




/*contact section*/
footer {
  
}

.contactSection {
  height: 100vh;
  background-color: tomato;
}
