body {
  padding-top: 50px;
}

.navbar {
  background-color: white;
}

.navbar-brand {
  color: black !important;
  font-size: 20px;
  font-weight: bold;
}

.navbar-brand:hover {
  color: red !important;
}

.navbar-inverse .navbar-nav>li>a {
  color: #000000;
  font-size: 20px;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: red;
}

.collapse li:hover {
  color: black;
}

.navbar-toggle {
  background-color: black;
}

.flexNav {
  display: flex;
  justify-content: space-between;
}

/*header section*/
header {
  /*position: relative;*/
  /*height:100vh;*/
  display:flex;
  /*align-items: center;*/
}

#headerImg {
  padding-bottom: 90px;
  height: 680px;
  width: 550px;
}

.headerText {
  text-align: center;
}

#hlfHeader {
  font-size: 60px;
  margin-top: 180px;
  font-weight: bolder;
}

.subText {
  font-size: 20px;
}

.extraSubText {
  font-size: 32px;
  font-weight: bold;
}

.toggleNav {
  display: none;
}

.headerText {
  text-align: center;
}

.headerNavButtons ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

/*schedule section*/
.scheduleSection {
  /*height: 100vh;*/
  background-color: yellow;
}

.sectionHeader {
  padding-top: 50px;
  font-size: 48px;
  text-align: center;
}

.flexGroupSchedule {
  display: flex;
  align-items: center;
  max-width:750px;
  margin: 0 auto;
}

.workout {
  flex: 1;
  background: rgba(155, 255, 255, 0.2);
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.workout ul {
  list-style-type: none;
  margin-left: -38px;
}

.workout ul li {
  border-bottom: 1px solid rgba(0,0,0,0.4);
  padding:10px;
}

.workout ul li:last-child {
  border-bottom: 0;
}

.flexPersonalSchedule {
  display: flex;
  align-items: center;
  max-width:750px;
  margin: 0 auto;
}

.type {
  flex: 1;
  background: rgba(155, 255, 255, 0.2);
  height: 420px;
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}


.type ul {
  list-style-type: none;
  margin-left: -38px;
}

.type ul li {
  border-bottom: 1px solid rgba(0,0,0,0.4);
  padding:10px;
}

.type ul li:last-child {
  border-bottom: 0;
}

/*about section*/
.aboutSection {
  /*height: 100vh;*/
  background-color: green;
}

.trainerPic {
  width: 350px;
  height: 350px;
}

.trainer p {
  text-align: center;
}

.trainer ul {
  text-align: center;
  list-style-type: none;

}






/*results section*/
.resultsSection {
  /*height: 100vh;*/
  background-color: orange;
}

.item {
  position: absolute;
  bottom: 0px;
}

.item .carousel-caption {
  position: relative;
  left: auto;
  right: auto;
}

.carousel-caption {
  color: black;
}

.item img {
  max-height: 450px;
  margin: 0 auto;
}




/*contact section*/
footer {
  height: 30vh;
  background-color: tomato;
  font-size: 20px;
}

.footerTitle {

}

footer ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

footer i {
  margin-right: 10px;
}

footer li  {
  color: black;
}

footer li a {
  color: black;
}


/*MEDIA QUERIES*/

@media (max-width: 1000px) {

}
